#frame {
	width: 150px;
	overflow: hidden;
	border: 1px black solid;
}

#div {
	position: relative;
	overflow: hidden;
	height: 100px;
	width: 350px;
	background-color: red;
	border: 2px black solid;
}

.menu {
	display: inline-block;
	position: relative;
	text-align: left;
	height: 100px;
	width: 100px;
	background-color: white;
	border: 2px black solid;
}

#button {
	width: 100px;
	height: 100px;
	background-color: black;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}